#mp-kipp {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

#mp-kipp a,
#mp-kipp a:visited,
#mp-kipp a:active,
#mp-kipp a:hover {
  font-weight: normal;
}

.mp-kipp-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  filter: alpha(opacity=70);
  background-color: black;
}

.mp-kipp-tn-container {
  position: absolute;
  width: 80%;
  height: 100%;
  overflow: auto;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FFFFFF;
}

.mp-kipp-finalize-container {
  position: absolute;
  width: 640px;
  height: 420px;
  overflow: hidden;
  display: none;
  left: 50%;
  top: 50%;
  margin-left: -320px;
  margin-top: -210px;
  background: rgb(236, 236, 234);
  overflow: hidden;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
          border-radius: 8px;
}

.mp-kipp-finalize-container iframe {
  margin-top: -50px;
}

.mp-kipp-elm {
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  margin-top: 30px;
  margin-left: 10px;
  height: 210px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
      -ms-border-radius: 8px;
          border-radius: 8px;
}

.mp-kipp-close-btn,
.mp-kipp-close-btn:visited
.mp-kipp-close-btn:active {
  color: white;
  font-size: 32px;
  line-height: 28px;
  text-decoration: none;
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 40px;
  top: 20px;
  text-align: center;
}

.mp-kipp-close-btn:hover {
  color: #CCC;
}

.mp-kipp-add-btn,
.mp-kipp-add-btn:visited,
.mp-kipp-add-btn:active {
  display: block;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  color: #999999;
  text-decoration: none;
  padding: 10px 0 12px 0;
  margin-top: 5px;
  margin-left: -84px;
  left: 50%;
  position: relative;
  border: 2px solid #ADADAD;
  width: 150px;
  height: 10px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  line-height: 12px;
  transition: all 250ms;
}

.mp-kipp-add-btn:hover {
  border: 2px solid #333;
  color: #333;
}